.botaocontrole {
    padding: 5px 12px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color:black;
    background-color: gold;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
    transition: 0.2s;
}

.botaocontrole:hover {
    background-color: darkgoldenrod;
    color: white;
    transform: translateY(-2px);
}

.botaocontrole:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
