.mesa-blackjack {
    background: darkgreen;
    background-image: radial-gradient(circle, #108a4c 5%, #0a6135 70%);
    padding: 30px;
    border-radius: 15px;
    color: white;
    text-align: center;
    border: 10px solid #8B4513;
    max-width: 800px;
    margin: 0px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.mao {
    margin: 30px 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.mao h3 {
    color: gold;
    margin-bottom: 15px;
    font-size: 24px;
    /* text-transform: uppercase; */
    border-bottom: 2px solid rgba(255, 215, 0, 0.5);
}

.cartas {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.carta {
    width: 100px;
    height: 140px;
    background: white;
    border-radius: 10px;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    font-weight: bold;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.carta:hover {
    transform: translateY(-5px);
}

.para-baixo {
    background: linear-gradient(45deg, #1a5fb4, #3584e4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 2px solid #000;
}

.valor-carta {
    font-size: 24px;
    text-align: left;
}

.carta-Copas, .carta-Ouros {
    color: red !important;
    border-color: red;
}

.carta-Espada, .carta-Paus {
    color: black !important;
    border-color: black;
}


.valor-superior {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 1.8rem;
}
.valor-inferior {
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-size: 1.8rem;
  transform: rotate(180deg);
}

.naipe-carta {
  font-size: 3.5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.botaocontrole {
    padding: 5px 12px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color:black;
    background-color: gold;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
    transition: 0.2s;
}

.botaocontrole:hover {
    background-color: darkgoldenrod;
    color: white;
    transform: translateY(-2px);
}

.botaocontrole:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
