.mesa-blackjack {
    background: darkgreen;
    background-image: radial-gradient(circle, #108a4c 5%, #0a6135 70%);
    padding: 30px;
    border-radius: 15px;
    color: white;
    text-align: center;
    border: 10px solid #8B4513;
    max-width: 800px;
    margin: 0px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.mao {
    margin: 30px 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.mao h3 {
    color: gold;
    margin-bottom: 15px;
    font-size: 24px;
    /* text-transform: uppercase; */
    border-bottom: 2px solid rgba(255, 215, 0, 0.5);
}

.botaocontrole {
    padding: 5px 12px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color:black;
    background-color: gold;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
    transition: 0.2s;
}

.botaocontrole:hover {
    background-color: darkgoldenrod;
    color: white;
    transform: translateY(-2px);
}

.botaocontrole:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
