.mesa-blackjack {
    background: darkgreen;
    background-image: radial-gradient(circle, #108a4c 5%, #0a6135 70%);
    padding: 30px;
    border-radius: 15px;
    color: white;
    text-align: center;
    border: 10px solid #8B4513;
    max-width: 800px;
    margin: 0px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}